.page {
    padding: 10rem;
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: page-appear 1s ease-out forwards;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #c96741;
    color: white;
    padding: 0.75rem 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #ac5013;
  }
