
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    background-color: #265fa8;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .webTitle{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .linkbar {
    font-weight: bold;
    display: flex;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .linkbar:hover{
    padding-bottom: 0.25rem;
    border-bottom: #47a366;
  } 

  .sidebar{
    background-color:#265fa8;
  }
  .topcorner{
    position:absolute;
    top:0;
    right:0;
    width: 10%;
    height: 10%;
   }
  
   .image{
    border-radius: 4px;
    padding: 5px;
    width: 30px;
   }
   
   .button{
     border: 1px solid transparent;
     background-color: transparent;
   }
  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }


  header a:hover { 
    text-decoration: none; 
  }


  a:active { text-decoration: none; }

  .div {
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 20px;
  }

  .header a:hover,
  .header a:active,
  .header a.active {
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #f07676fd;
  } 
  